# config files

config.php

# images directories

/images/maps
/images/icons
/images/tmp

# cache directories
/cache/armory/*.aww
/cache/world/*.php
/cache/templates/wowhead/*.php

# popular IDE directories & files

nbproject


